{% extends 'base.twig' %}

{% block welcome %}
    <h1 class="hero-lead">Bienvenido</h1>
    <h4 class="h-alt hero-secondary">Web Design &amp; Development</h4>
    <a href="user/login" class="btn btn-light">Login</a>
    <a href="user/register" class="btn btn-light">Register</a>
{% endblock %}